html {
  background-color: #8cc0cb;
  color: #fff;
}

h1 {
  color: #fde7b9;
  font-weight: 700;
  font-size: 3rem;
  text-align: left;
  font-family: 'Nunito', sans-serif;
  line-height: 1;
  text-shadow: 1px +2px 10px black;

}

h2 {  color: #fde7b9;
  font-weight: 700;
  font-size: 2rem;
  text-align: left;
  font-family: 'Nunito', sans-serif;
  line-height: 1;
  text-shadow: 1px +2px 10px black;
}

.word {
  font-weight: 300;
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  color: #fde7b9;
}

p {
  font-weight: 300;
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
  font-style: normal; /*italic, normal*/
}

blockquote p {
  font-weight: 300;
  font-size: 2rem;
  font-style: italic;
  font-family: 'Slabo', serif;
}

figcaption {
  font-weight: 200;
  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  font-style: italic; /*italic, normal*/
}

footer {
  font-weight: 100;
  font-size: 1rem;
  font-style: italic;
  text-align: right;
  font-family: 'Slabo', serif;
  color: #fde7b9;
}

ol {
  font-weight: 300;
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
  list-style-type: none; /* decimal, circle, lower-alpha, lower-roman, upper-alpha, uper-roman, square, disc, none */
  padding: 0;
}

ul li {
  font-weight: 300;
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
  padding: 0;v
}

.roman {
  list-style-type: lower-roman; /* decimal, circle, lower-alpha, lower-roman, upper-alpha, uper-roman, square, disc, none */
}

dd {
  font-weight: 300;
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
  list-style-type: none; /* decimal, circle, lower-alpha, lower-roman, upper-alpha, uper-roman, square, disc, none */
  padding: 0;
}

dt {
  font-weight: 600;
  font-size: 1.5rem;
  font-family: 'Nunito', sans-serif;
  list-style-type: none; /* decimal, circle, lower-alpha, lower-roman, upper-alpha, uper-roman, square, disc, none */
  padding: 0;
}

a {
  color: #000;
  font-size: 1.5rem;
}

a:hover {
  color: purple;
}

.circle {
  list-style-type: circle;
}
